.table{
    width: 100%;
    border-spacing: 0;
    margin: 0 auto;
    text-align: left;
}

.tableRow td{
    border: 1px #ccc solid;
}

.data{
    padding: 5px 10px
}

.id, .userId{
    padding-left: 20px;
    padding-right: 20px;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}